/* reset css*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
	text-decoration: none;
	color: inherit;
}

/*--- Actual CSS ---*/

body {
	font-family: 'Roboto', sans-serif !important;
	display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
	flex: 1 0 auto;
}

.dark {
	background-color: #002b36;
	color: #839496;
	border-top: 1px solid #839496;
}

.dark-light {
	background-color: #586e75;
	color: white;
}
.light {
	background-color: #ffffff;
	color: #002b36;
}
/*$base02:    #073642;
$base01:    #586e75;
$base00:    #657b83;
$base0:     #839496;
$base1:     #93a1a1;
$base2:     #eee8d5;
$base3:     #fdf6e3;
$yellow:    #b58900;
$orange:    #cb4b16;
$red:       #dc322f;
$magenta:   #d33682;
$violet:    #6c71c4;
$blue:      #268bd2;
$cyan:      #2aa198;
$green:     #859900;*/

h3 {
	font-size: 2em;
}

.container {
  width: 85% !important;
  margin: 0 auto;
}

.section {
	padding: 50px 0;
}

.row .col img {
	width: 100%;
	box-sizing: border-box;
}

/*.row .col img:hover {
	opacity: 1.0;
}*/

.cases-container img {
	padding: 0px 50px;
	opacity: 0.75;
	transition: opacity ease 0.3s;
}

.cases-container img:hover {
	opacity: 1;
}

.row {
	padding: 0;
  margin: 0;
  list-style: none;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  justify-content: space-between;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.col {
	/*background: tomato;*/
  padding-left: 5px;
	padding-top: 0;
	padding-right: 0;
	padding-bottom: 0;
	margin-bottom: 5px;
  text-align: center;
	box-sizing: border-box;
	position: relative;
	overflow: hidden;
}

.col h2 {
	font-weight: bold;
  font-size: 3em;
	width: 100%;
  text-align: center;
}

.row .l4 {
	width: 25%;
	box-sizing: border-box;
}

.row .l3 {
	width: 33%;
	box-sizing: border-box;
}

.row .l2 {
	width: 50%;
	box-sizing: border-box;
}

nav .nav-links a {
	opacity: 0.65;
	transition: opacity ease 0.3s;
}

nav .nav-links a:hover {
	/*color: #268bd2;
	color: #6c71c4;
	color: #2aa198;*/
	opacity: 1.0;
}

nav {
  padding: 1.5em 8% 1em;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
}

nav .nav-links {
	float: right;
}

nav .right {
  float: right;
  margin-left: 30px;
  font-size: 1rem;
  line-height: 39px;
  text-transform: uppercase;
}

.logo {
  font-size: 2em;
}

.cover {
  height: 400px;
  background-image: url('./assets/intro-bg.jpg');
  background-size: cover;
  position: relative;
	background-position: bottom;
}

.cover-contact {
	background-image: url('./assets/contact.jpg') !important;
	background-position: center;
}

.text-col {
  /*background-color: white;*/
  position: absolute;
  bottom: -20px;
  right: 0;
  font-size: 3vw;
	line-height: 3.5vw;
	font-family: 'Roboto Slab', serif;
}

.text-col p {
  width: 18em;
  padding: 20px 50px;
}

.black {
  background-color: black;
  color: white;
}

.case-text {
	width: 50%;
	padding: 20px;
}

.case-text p {
	line-height: 2;
	font-size: 1.1em;
	letter-spacing: 1.2px;
}

.case-text h3 {
	font-size: 1.6em;
	letter-spacing: 4px;
	text-transform: uppercase;
	padding-bottom: 10px;
}

.case-text h1 {
	font-size: 2.5em;
	padding: 20px 0;
	font-weight: 100;
}

.btn-case {
	padding: 8px;
	opacity: 0.85;
	display: inline-block;
	border-radius: 3px;
	cursor: pointer;
}

.btn-case:hover {
	opacity: 1.0;
}

.valign {
	display: flex;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	width: 100%;
}

.case-item {
	height: 150px;
}

.case-side-nav {
	float: right;
	margin-left: auto;
}

.case-side-nav img {
	width: 150px;
	display: block;
	margin: 20px 0;
	-webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
  filter: grayscale(100%);
	opacity: 0.5;
	transition: opacity ease 0.3s;
}

.case-side-nav img:hover {
	opacity: 1.0;
}

.staff img {
	-webkit-filter: grayscale(1);
  filter: grayscale(1);
	transition: transform 0.4s;
}

.staff .overlay {
	position: absolute;
	opacity: 0;
	z-index: 1;
	bottom: 0;
	width: 100%;
	padding: 20px 0;
	font-size: 2em;
	color: white;
	box-sizing: border-box;
	height: 100%;
	overflow: hidden;
}

.staff .overlay:hover {
	opacity: 1;
}

.staff .col:hover img {
	transform: translateY(-50px);
}

.staff .col div {
	font-size: 1em;
	box-sizing: border-box;
	position: absolute;
	padding: 15px;
	background: #002b36;
	color: white;
	width: 100%;
	top: auto;
	bottom: 3px;
	opacity: 0;
	transform: translateY(100%);
	transition: transform 0.4s, opacity 0.1s 0.3s;
	line-height: 24px;
	max-height: 100%;
}

.staff .col p {
	width: 100%;
}

.staff .col strong {
	font-size: 1.25em;
}

.staff .col:hover div {
	opacity: 1;
	transform: translateY(0px);
	transition: transform 0.4s, opacity 0.1s;
}

.collapsed-case {
	max-height: 0;
	padding: 0;
	transition: max-height ease 0.5s;
	overflow: hidden;
}

.expanded-case {
	max-height: 1500px;
	padding: inherit;
}

.collapsed-case .close {
	position: absolute;
	padding: 20px;
	right: 0;
	cursor: pointer;
	font-size: 1.5em;
	opacity: 0.85;
}

.collapsed-case .close:hover {
	opacity: 1.0;
}

.github {
	text-align: center;
}

.btn {
	text-align: center;
	display: inline-block;
	padding: 20px;
}

footer {
	padding: 10px 0;
	padding-bottom: 30px;
	text-align: center;
}

footer p {
	padding-bottom: 10px;
}

.hide {
	display: none;
}

/* --- Media queries --- */

@media (max-width: 1000px) {
	.row .s6 {
		width: 50%;
		box-sizing: border-box;
	}
	.row .s12 {
		width: 100%;
		box-sizing: border-box;
	}
  .case-text {
    width: 100%;
  }
	.cover {
		height: 80vh;
	}
	.text-col {
		font-size: 7vw;
		line-height: 8vw;
		text-align: center;
	}
	.text-col p {
	  width: inherit;
		width: auto;
		padding: 20px 20px;
	}
	.case-container {
		flex-direction: column-reverse;
	}
	.case-side-nav {
		margin-left: 0;
	}
	.case-side-nav img {
		display: inline-block;
		width: 27vw;
		padding: 0 10px;
		box-sizing: border-box;
	}
	nav {
		text-align: center;
		padding: 15px 5px 5px;
	}
	nav .logo {
		display: block;
	}
	nav .nav-links {
		float: none;
	}
	nav .right {
		float: none;
		margin: 0 12px;
	}
	.cases-container img {
		padding: 0 10px;
		max-width: 400px;
		margin: 0 auto;
	}
	.expanded-case {
		max-height: 2000px;
	}
	.case-text {
		padding: 0;
		padding-bottom: 20px;
	}
	.staff .col div {
		min-height: 100%;
		padding: 15px 0;
		padding-left: 10px;
		padding-right: 15px;
	}
}

@media (max-width: 1000px) {

}
