/* reset css*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
	text-decoration: none;
	color: inherit;
}

/*--- Actual CSS ---*/

body {
	font-family: 'Roboto', sans-serif !important;
}

h3 {
	font-size: 2em;
}

.container {
  width: 85%;
  margin: 0 auto;
}

.cases-container {
	padding-top: 50px;
}

.row {
	padding: 0;
  margin: 0;
  list-style: none;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  justify-content: space-between;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.col {
	background: tomato;
  padding: 5px;
  width: 33%;
  height: 150px;
  margin-top: 10px;

  line-height: 150px;
  color: white;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
	box-sizing: border-box;
}

nav {
  padding: 1.5em 8% 1em;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
}

nav .right {
  float: right;
  margin-left: 30px;
  font-size: 1rem;
  line-height: 39px;
  text-transform: uppercase;
}

.logo {
  font-size: 2em;
}

.cover {
  height: 400px;
  background-image: url('./assets/intro-bg.jpg');
  background-size: cover;
  position: relative;
	background-position: bottom;
}

.text-col {
  background-color: white;
  position: absolute;
  bottom: -20px;
  right: 0;
  font-size: 3vw;
	line-height: 3.5vw;
	font-family: 'Roboto Slab', serif;
}

.text-col p {
  width: 18em;
  padding: 20px 50px;
}

.black {
  background-color: black;
  color: white;
}

.case-text {
	width: 50%;
}

.case-text p {
	line-height: 2;
	font-size: 1.1em;
	letter-spacing: 1.2px;
}

.case-text h3 {
	font-size: 1.6em;
	letter-spacing: 4px;
}

/* --- Media queries --- */

@media (max-width: 1000px) {
  .case-text {
    width: 100%;
  }
	.cover {
		height: 80vh;
	}
	.text-col {
		font-size: 7vw;
		line-height: 8vw;
		text-align: center;
	}
	.text-col p {
	  width: inherit;
		width: auto;
		padding: 20px 20px;
	}
	nav .right {
		display: none;
	}
}
