<nav class="light">
  <a href="/"><span class="logo">YACC.IO</span></a>
  <div class="nav-links">
    <span class="right">
      <a href="{{ site.baseurl }}/contact">
        <span lang="en">Contact</span><span lang="dk">Kontakt</span>
      </a>
    </span>
    <span class="right">
      <a href="/#section-cases" onclick="expandCase('1')">Cases</a>
    </span>
    <span class="right lang-en">
      <a class="language-change" onclick="changeLanguage('en');"><b>Switch to</b><img src="{{ site.baseurl }}/assets/gb.svg" />EN</a>
    </span>
    <span class="right lang-dk">
      <a class="language-change" onclick="changeLanguage('dk');"><b>Switch to</b><img src="{{ site.baseurl }}/assets/dk.svg" />DK</a>
    </span>
    <span class="right hide">
      <a href="index.html">Jobs</a>
    </span>
  </div>
</nav>
